.mainPane{
    -fx-background-radius: 20;
    -fx-background-color: rgba(222, 224, 229,0);
}
.sidePane{
    -fx-background-radius: 20 0 0 20;
    -fx-background-color: rgba(27, 137, 240 ,0);
}
.splashMain{
    -fx-background-radius: 20;
    -fx-background-color: rgba(222, 224, 229,1);

    -fx-background-color: linear-gradient(to right, #436cb1 0%, rgba(0, 138, 230, 0.85) 74%);

   /*-fx-background-color: linear-gradient(to top left, #5b6467 0%, #8b939a 74%);*/

}

.progress-bar {
    -fx-accent: rgba(0, 138, 230, 0.85);
    /*-fx-accent: rgba(230, 0, 19, 0.85);*/
}

.progress-bar .bar {
    -fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: rgba(230, 0, 0, 0.85);
}

.progress-bar > .track {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.1);
}